In [1]:
import pandas as pd

In [2]:
s=pd.Series(["D","A","R","S","N"])

In [3]:
s

0    D
1    A
2    R
3    S
4    N
dtype: object

In [25]:
df=pd.DataFrame(["A","B","C","E","F","G"],columns=["FigRating"])
df.head(10)

  FigRating
0         A
1         B
2         C
3         E
4         F
5         G

In [11]:
import numpy as np

In [12]:
from numpy import random

In [49]:
d=pd.DataFrame(np.random.randn(3,4),columns=['col1','col2','col3','col4'])

In [50]:
d

       col1      col2      col3      col4
0 -0.185520 -0.239666 -0.149925  0.984672
1  0.162891 -0.851815 -0.304913 -1.044808
2  0.851429 -0.275479 -0.272105  0.997190

In [26]:
b=3
c=2
a=b+c

In [27]:
a

5

In [28]:
b+c=a

SyntaxError: cannot assign to operator (<ipython-input-28-a6711da3e221>, line 1)

In [30]:
#access
loc[]
iloc[]

SyntaxError: invalid syntax (<ipython-input-30-58ec3823bdd0>, line 2)

In [52]:
x=d.loc[2]#

In [53]:
x

col1    0.851429
col2   -0.275479
col3   -0.272105
col4    0.997190
Name: 2, dtype: float64

In [54]:
y=d.iloc[2]

In [55]:
y

col1    0.851429
col2   -0.275479
col3   -0.272105
col4    0.997190
Name: 2, dtype: float64

In [56]:
d['col5']=d['col1']+d['col2']

In [57]:
d

       col1      col2      col3      col4      col5
0 -0.185520 -0.239666 -0.149925  0.984672 -0.425186
1  0.162891 -0.851815 -0.304913 -1.044808 -0.688924
2  0.851429 -0.275479 -0.272105  0.997190  0.575950

In [58]:
d.shape

(3, 5)

In [59]:
d.size

15

In [60]:
type(d)

pandas.core.frame.DataFrame

In [61]:
type(d['col1'])

pandas.core.series.Series

In [63]:
data=pd.read_excel("stress.xlsx")

In [64]:
data

      name  age  exam stress
0  darshan   20            1
1    pooja   16            0
2    rohit   15            0